<div class="bg-inverse" align="center">
	<div class="container"><br>
		<P>Creative Bloq is part of Valentine, an international media group and leading digital publisher. Visit our corporate site.
		</P>
		
		<div class="dropdown-divider"></div>
		<nav class="nav nav-inline">
			<a class="nav-link" href="#">About us</a>   |
			<a class="nav-link" href="#">Terms and conditions</a>   |
			<a class="nav-link" href="#">Privacy policy</a>   |
			<a class="nav-link" href="#">Cookies policy</a>   |
			<a class="nav-link" href="#">Advertise with us</a>
			
		</nav>
		<div class="dropdown-divider"></div>
		<P>© Valentine Publishing Limited Quay House, The Ambury, Bath BA1 1UA. All rights reserved. England and Wales company registration number 1008888.</P>

	</div>
</div>